@model AspCourse.Models.database.entity.ChatMember

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChatMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chat.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
